<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track Details</title>
</head>
<body style="background-color:powderblue;">
    <h1>Tracking Details</h1>
    <table border="1">
        <thead>
            <tr style="background-color:#00a2ff">
                <th>QR Details</th>
                <th>AFKL Details</th>
                <th>LH Details</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color:#00FF00">
                <td>   
                    <ul>
                    {% for x in track_response_qr.cargoTrackingSOs[0] %}
                    <li> {{x}} {{track_response_qr.cargoTrackingSOs[0][x]}}</li>
                    {% endfor %}
                   </ul>
                </td>
                <td>
                    <ul>
                        {% for x in track_response_afkl.Shipments[0]%}
                        <li> {{x}} {{track_response_afkl.Shipments[0][x]}}</li>
                        {% endfor %}
                       </ul>
                </td>
                <td>
                    <ul>
                        {% for x in track_response_lh.shipmentTrackingStatus%}
                        <li> {{x}} {{track_response_lh.shipmentTrackingStatus[x]}}</li>
                        {% endfor %}
                       </ul>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>