<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!doctype html>
<html>
<head>
<title>Shipment Track Widget Flat Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shipment Track Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href="../static/css/style1.css" rel="stylesheet" type="text/css" media="all" />


<style>
	
</style>


</head>
<body>

	<div class="bodyContainer">
		<div class="headerContainer">
		<span>
			Shippment Track
		</span>
		</div>
		<div class="contentContainer">
		<div class="content">
	<div class="content1">
		<h2>Order Tracking: Order No</h2>
	</div>
	<div class="content2">
		<div class="content2-header1">
			<p>Shipped Via : <span>Ipsum Dolor</span></p>
		</div>
		<div class="content2-header1">
			<p>Status : <span>Checking Quality</span></p>
		</div>
		<div class="content2-header1">
			<p>Expected Date : <span>7-NOV-2020</span></p>
		</div>
	</div>
	<div class="content3">
        <div class="shipment">
			<div class="confirm">
				<div class="tooltip1">
					<div id="confirmCircle">
						<img src="../static/img/track/confirm.png" alt="confirm order">
					</div>
					<span id="confirmLine"></span>
					<p> <a href="/track">Confirmed Order</a> </p>
					<span class="tooltiptext1">
						<ol class="tooltipList">
							{% for x in track_response_qr[0]['cargo_confirmed_milestones']%}
							<li>
								{{x['movement_details']}}
							</li>
							{% endfor %}
						</ol>
					</span>
				</div>
			</div>
			<div class="dispatch">
				<div class="tooltip2">
					<div id="dispatchcircle">
						<img src="../static/img/track/dispatch.png" alt="dispatch product">
					</div>
					<span id="dispatchLine"></span>
					<p><span class="hideVisibility">------</span>InTransit</p>
					<span class="tooltiptext2">
						<ol class="tooltipList">
							{% for x in track_response_qr[0]['cargo_transit_milestones']%}
							<li>
								{{x['movement_details']}}
							</li>
							{% endfor %}
						</ol>
					</span>
				</div>
			</div>
			<div class="delivery">
				<div class="tooltip3">
					<div id="deliverycircle">
						<img src="../static/img/track/delivery.png" alt="delivery">
					</div>
					<p>Product Delivered</p>
				<span class="tooltiptext3">
					<ol class="tooltipList">
						{% for x in track_response_qr[0]['cargo_delivered_milestones']%}
						<li>
							{{x['movement_details']}}
						</li>
						{% endfor %}
					</ol>
				</span>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
		</div>
	</div>
<script>
	var isRedBackgroundKey = 'dispatchcircle';
	let allCircles = ['confirmCircle', 'dispatchcircle', 'deliverycircle'];
	allCircles.forEach((curcleId, index) => {
		document.getElementById(curcleId).className = allCircles.indexOf(isRedBackgroundKey) < index ? 'redBakground imgcircle' : 'greenBakground imgcircle';
	});
	var isRedBackgroundKey = 'dispatchLine'
	let allLines = ['confirmLine', 'dispatchLine', 'deliveryLine'];
	allLines.forEach((curcleId, index) => {
		document.getElementById(curcleId).className = allLines.indexOf(isRedBackgroundKey) < index ? 'redBakground line' : 'greenBakground line';
	});

</script>
</body>
</html>