<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
</head>
<body>
    <h1>Tracking Details</h1>
    <table border="1">
            <tr> QR Details</tr>
             <tr>
                <th>{{track_response_qr}}</th>
            </tr>
    </table>
    <table border="1">
            <tr>AFKL Details</tr>
            <tr>
                <th>{{track_response_afkl}}</th>
            </tr>
    </table>
    <table border="1">
            <tr> LH Details</tr>
            <tr>
                <th>{{track_response_lh}}</th>
            </tr>
    </table>
</body>
</html>